*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.row {
  width: 100%;
}
#History{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  padding-right: 30px;
  padding-left: 30px;
  background-color: rgb(241, 139, 206);
}
#Culture{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  padding-right: 30px;
  padding-left: 30px;
  background-color:greenyellow;
}
#Geography{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  padding-right: 30px;
  padding-left: 30px;
  background-color:rgb(124, 0, 0); 
}
section{
  background-color: rgb(255, 255, 255);
  float: left;

}
p {
  position: relative;
  background-color:burlywood;
  width: 300px;
  height: 250px;
  border: 1px solid black;
  padding: 10px;
  padding-top: 40px;
  width: 95%;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  font-family:Helvetica;

}

h1 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 60px;
}

@media (min-width: 992px) {
  #s1 {
    width: 33.3%;

  }
  #s2 {
    width: 33.3%;

  }
  #s3 {
    width: 33.3%;

  }
}

@media (min-width: 768px) and (max-width:991px) {
  #s1 {
    width: 50%;

  }
  #s2 {
    width: 50%;
  }
  #s3 {
    width: 100%;
  }
  #pS{
    width: 97.5%;
  }
}
@media (max-width: 767px){
p{
  height: 50%;
  width: 50%;
  font-size: 0.5em;
  
}
}